<footer class="page-footer  red accent-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Match FB</h5>
				<p class="grey-text text-lighten-4">We are a team of master degree students working on this project like it's our full time job, for the course of Advanced Database Systems in NTHU, fall semester 2015.</p>
			</div>
		</div>
	</div>
	<div class="footer-copyright red accent-4">
		<div class="container">
			Made with <a href="http://materializecss.com">Materialize</a>
		</div>
	</div>
</footer>