<div>
	<header></header>
	<div class="row">
		<div class="col-sm-6">
			<div>Suggestions</div>
			<div ng-if="suggestions.prospect" class="card table-vertical">
				<div class="card-picture" 
					style="background-image: url(http://graph.facebook.com/{{suggestions.prospect.id}}/picture?type=square)"></div>
				<button ng-disabled="suggestions.disabled" class="btn btn-success" ng-click="like()">Like</button>
				<button ng-disabled="suggestions.disabled" class="btn btn-danger" ng-click="dislike()">Dislike</button>
			</div>
		</div>
		<div class="col-sm-6">
			<div>Matches</div>
			<div class="card table-vertical" ng-repeat="item in suggestions.matches track by $index">
				<div class="card-picture" 
					style="background-image: url(http://graph.facebook.com/{{item.id}}/picture?type=square)"></div>
				<button fid="{{item.id}}" class="btn btn-primary" ng-click="profile(this)">Check Profile</button>
			</div>
		</div>
	</div>
</div>