<div> 
	<header></header>
	<div class="container">
		<div class="section">
			<ul class="tabs">
				<li class="tab col s6">
					<a href="#profile">Profile Information</a>
				</li>
				<li class="tab col s6">
					<a href="#interests">Interests</a>
				</li>
			</ul>
			<br><br>
			<div id="profile">
				<div class="row">
					<div class="col s12 m12"><b>We want to know More about you!</b></div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<select id="gender" ng-disabled="profile.disabled"  
							ng-model="profile.profile.physicalAppearance.gender" 
							ng-class="{'has-error': !profile.profile.physicalAppearance.gender&&profile.validate}">
							<option ng-disabled="profile.disabled"
							ng-repeat="opt in profile.likes.genders">{{opt}}</option>
						</select>
						<label for="gender">Gender</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<select id="interestedIn" ng-disabled="profile.disabled"  ng-model="profile.profile.interestedIn"
						ng-class="{'has-error': !profile.profile.interestedIn&&profile.validate}">
							<option ng-disabled="profile.disabled" 
							ng-repeat="opt in profile.likes.interestedIn">{{opt}}</option>
						</select>
						<label for="interestedIn">Interested in</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12"><b>Physical Appearence</b></div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<input id="height" ng-disabled="profile.disabled" type="number" min="0" max="500"  
						ng-class="{'has-error': !profile.profile.physicalAppearance.height&&profile.validate}"
							placeholder="170" value="170" 
							class="ng-touched"
							ng-model="profile.profile.physicalAppearance.height"/>
						<label for="height">Height (cm)</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<input id="weight" ng-disabled="profile.disabled" type="number" min="0" max="500"  
						ng-class="{'has-error': !profile.profile.physicalAppearance.weight&&profile.validate}"
							placeholder="60" value="60"
							class="ng-touched"
							ng-model="profile.profile.physicalAppearance.weight"/>
						<label for="weight">Weight (kg)</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 input-field">
						<select id="country" ng-disabled="profile.disabled"   ng-model="profile.profile.physicalAppearance.country"
						ng-class="{'has-error': !profile.profile.physicalAppearance.country&&profile.validate}">
							<option ng-repeat="opt in profile.likes.countries">{{opt}}</option>
						</select>
						<label for="country">Nationality</label>
					</div>
				</div>
			</div>
			<div id="interests">
				<div class="row">
					<div class="col s12 m12"><b>Interests</b></div>
				</div>
				<div class="row">
					<div class="col s2">Movies</div>
					<div class="col s10 multiple-checkboxes">
						<div class="col s2" 
							ng-repeat="opt in profile.likes.movies track by $index" >
							<input id="mo{{$index}}" 
								ng-disabled="profile.disabled" 
								type="checkbox" class="filled-in" id="filled-in-box"/>
		      				<label for="mo{{$index}}">{{opt}}</label>
		      			</div>
					</div>
				</div>
				<div class="row">
					<div class="col s2">TV Shows</div>
					<div class="col s10 multiple-checkboxes">
						<div class="col s2" 
							ng-repeat="opt in profile.likes.tvSeries track by $index" >
							<input id="tv{{$index}}" 
								ng-disabled="profile.disabled" 
								type="checkbox" class="filled-in" id="filled-in-box"/>
		      				<label for="tv{{$index}}">{{opt}}</label>
		      			</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="row">
				<button class="btn waves-effect waves-light btn-large right" 
				 	ng-disabled="profile.disabled" class="btn btn-primary track by $index" ng-click="save()">Save
					<i class="material-icons right">done</i>
				</button>
			</div>
		</div>
	</div>
</div>